fastapi
uvicorn
slowapi
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
python-multipart
celery
redis
Pillow
pdf2image
fpdf
pytesseract
opencv-python
pandas
openai
transformers
torch
langchain
langchain-core
langchain-openai
langchain-community
faiss-cpu
pytest
coverage
